<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">Sean Ritter</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="hidden">
              <a class="page-scroll" href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#portfolio">Porfolio</a>
            </li>
            <li>
              <a class="page-scroll" href="#skills">Skills</a>
            </li>
            <li>
              <a class="page-scroll" href="#blog">Blog</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Hello.</h1>
            <h1>I'm Sean</h1>
            <h2>A Back-End Developer</h2>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1>Thirsting for Knowledge...</h1>
          </div>
          <div class="col-lg-12">
            <h3>I'm new to the world of development but hungry to learn. After graduating from <strong>Indiana University</strong> in 2011, I held a series of jobs that didn't challenge me: Barista, Bartender, Copy Writer...</h3>
            <h3><strong>I needed to be challeneged.</strong> I needed to learn. I needed something that would stimulate me. I turned to development as an outlet for that hunger and in mid 2016 I dove in head first, signing up for The Iron Yard coding bootcamp in Indianapolis.</h3>
            <h3>Since then I have poured myself into learning as much as I could about development. I started with <strong>Ruby on Rails</strong> and <strong>HTML/CSS</strong>; <strong>JavaScript</strong> came next and I've been striving to learn more.</h3>
            <h3>I'm thrilled to have finally found a career in which I can continue to grow, learn, and challenge myself, to always expand and better myself <strong>and</strong> the impact my work can have on others.</h3>
          </div>
          <div class="text-center">
            <%= image_tag "timeline.png", class: "img-responsive"%>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Portfolio</h1>
          </div>
        </div>
        <div class="row no-gutter popup-gallery">
          <div class="col-sm-6 image-box">
            <a href="https://github.com/Rittersm/SurfnPaddleRails" class="portfolio-box">
              <img src="assets/demoticdeveloper.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                       Demotic Developer
                  </div>
                  <div class="project-name">
                       A Rails based Blog site
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6 image-box">
            <a href="https://github.com/Rittersm/ChirpChirp" class="portfolio-box">
              <img src="assets/chirp.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                       Galaxy Connect
                  </div>
                  <div class="project-name">
                       A Rails API supporting a Social Media site
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6 image-box">
            <a href="https://github.com/sockapalooza/SockapaloozaRails" class="portfolio-box">
              <img src="assets/sockapalooza.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                       Sockapalooza
                  </div>
                  <div class="project-name">
                       A Rails API supporting an E-Commerce store
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6 image-box">
            <a href="https://github.com/Rittersm/LiveDiet.com" class="portfolio-box">
              <img src="assets/livediet.jpg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                       LiveDiet
                  </div>
                  <div class="project-name">
                       A full stack Rails driven Social Media site
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="skills-section">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h1>Skills</h1>
        </div>
        <div class="lang-skill">
          <div class="row">
            <div class="col-sm-3 lang-logo">
              <img src="assets/rails-logo.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-9 lang-desc">
              <div class="row">
                <h2>Ruby on Rails</h2>
              </div>
              <div class="row">
                <h4>Well versed and confident in Ruby on Rails. My primary and first language I love the ease one can fall into a Rails application and create amazing database structures that allow for incredible functionality.</h4>
              </div>
            </div>
          </div>
        </div>
        <hr class="visible-xs">
        <div class="lang-skill">
          <div class="row">
            <div class="col-sm-3 lang-logo">
              <img src="assets/html-logo.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-9 lang-desc">
              <div class="row">
                <h2>HTML 5</h2>
              </div>
              <div class="row">
                <h4>It's always amazing to me how versatile a language like html can be. So simple, and yet with the right knowledge and techniques it can do incredible things that can make a site really stand out</h4>
              </div>
            </div>
          </div>
        </div>
        <hr class="visible-xs">
        <div class="lang-skill">
          <div class="row">
            <div class="col-sm-3 lang-logo">
              <img src="assets/css-logo.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-9 lang-desc">
              <div class="row">
                <h2>CSS 3 / Sass</h2>
              </div>
              <div class="row">
                <h4>HTML can do amazing things... CSS always impresses. Everytime I use it, everytime I look for a solution to a design problem it's amazing the creative solutions CSS can offer.</h4>
              </div>
            </div>
          </div>
        </div>
        <hr class="visible-xs">
        <div class="lang-skill">
          <div class="row">
            <div class="col-sm-3 js-logo">
              <img src="assets/js-logo.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-9 lang-desc">
              <div class="row">
                <h2>JavaScript</h2>
              </div>
              <div class="row">
                <h4>JavasScript is the latest language I'm adding to my repetoir. Websites take on an all new level of complexity and visual appeal when JavaScript comes in. I'm looking forward to learning more of what JS has to offer</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Skills Section -->
    <section id="blog" class="blog-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1>Blog</h1>
          </div>
        </div>
      </div>
      <% if @blog.any? %>
        <div class="post">
          <div class="container">
            <div class="row text-center">
              <%= attachment_image_tag(@blog, :header_image, :class => "img-responsive") %>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h1><%= @blog.title %></h1>
              </div>
              <div class="col-xs-12">
                <h4><%= @blog.created_at.strftime('%e %b %Y %H:%M:%S%p') %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h3><%= simple_format(@blog.body) %></h3>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <h3>No blog posts... yet</h3>
      <% end %>  
      <br>
      <div class="container">
        <div class="col-xs-12 text-center">
          <a href="/blogs">All Blogs</a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center contact-header">
            <h1>Contact Me</h1>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 contact-form">
          <%= render partial: "contacts/newcontact" %>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <hr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <h3>Address</h3>
            <h4>6512 Highland Lane, McCordsville, IN 46055</h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <h3>E-mail</h3>
            <h4>Rittersm@gmail.com</h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <h3>Phone</h3>
            <h4>(317)260-1521</h4>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="footer-bottom">
        <div class="container">
          <div class="col-xs-3 admin">
            <% unless current_user %>
              <a href="#" data-toggle="modal" data-target="#LoginModal">Admin</a>
            <% else %>
              <h5>Welcome back, Sean</h5>
            <% end %>
          </div>
          <div class="col-xs-5 col-xs-offset-4">
            <ul class="list-inline list-color text-right">
              <li><h5>Find Me:</h5></li>
              <li>
                <a href="https://github.com/Rittersm"><i class="devicon-github-plain"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/sean-ritter-b9b07a2a?trk=hp-identity-name"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <%= form_for :user, :url => login_path, :html=> { class: 'login' } do |f| %>
             <fieldset class="form-group">
               <%= f.text_field :username, :class => "form-control", :placeholder => "Username", :value => nil %>
             </fieldset>
             <fieldset class="form-group">
               <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
             </fieldset>
               <%= f.submit "Login", :class => "btn btn-primary submit-button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

</body>
