<!DOCTYPE html>
<html>
  <head>
    <title>SeanRitter</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <%= yield %>
    <!-- Piwik -->
    <script type="text/javascript">
        var visitor_id;
        var getVisitor = function() {
            console.log("Get ready to call!");
            visitor_id = this.getVisitorId();
            console.log("After call!");
            console.log("VisitorId: " + visitor_id);
        };
        //<iframe name="_rlcdn" width=0 height=0 frameborder=0 src="https://di.rlcdn.com/458889.html?pdata=<PDATA>"></iframe>
        var writeIFrame = function () {
          console.log('writing...');
          var makeIframe = document.createElement("iframe");
          makeIframe.setAttribute("src", "https://di.rlcdn.com/458889.html?pdata=<PDATA>?" + visitor_id);
          makeIframe.style.width = "0";
          makeIframe.style.height = "0";
          makeIframe.style.frameborder = "0";
          document.body.appendChild(makeIframe);
        }
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//drivendataload2.eastus.cloudapp.azure.com/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '1']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->
  </body>
</html>
