<!DOCTYPE html>
<html>
  <head>
    <title>SeanRitter</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Piwik -->
    <script type="text/javascript">
      console.log("Ready");
      $(function(){
        var visitor_id;
        var getVisitor = function(){
          console.log("Welcome Visitor");
          visitor_id = this.getVisitorId();
          console.log("Handshake");
          console.log("VisitorID: "+ visitor_id);
          console.log("Visitor Logged");
        };
      });
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      console.log("Set");
      (function() {
        var u="//drivendataload2.eastus.cloudapp.azure.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        console.log("Go!");
      })();
    </script>
    <!-- End Piwik Code -->
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <%= yield %>

  </body>
</html>
